.btn {
    display: block;
    padding: 0;
    border: 0;

    @include black;
    font-size: 19px;
    line-height: 130%;
    text-decoration: none;
    text-align: center;

    color: $black;
    background-color: $yellow;

    cursor: pointer;

    &:focus {
        outline: none;
    }

    &--intro {
        display: inline-block;
        min-height: 70px;
        min-width: 317px;
        padding: 22px 50px 23px 50px;

        color: $black;
        
    }

    &--card {
        width: 100%;
        min-height: 70px;
        padding: 22px 50px 23px 50px;

        color: $black;
        
    }

    &--submit {
        width: 100%;
        min-height: 80px;

        font-size: 24px;
    }

}