.card {
    display: flex;
    flex-direction: column;

    max-width: 390px;
    border: 1px solid #EEEEEE;

    &__img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    &__body {
        flex: 1 1 auto;
        padding: 30px 30px 20px 30px;
    }

    &__title {
        @include black;
        font-size: 36px;
        line-height: 130%;

        color: $black;

        a {
            text-decoration: none;
            color: $black;

            &:hover {
                color: $yellow;
                transition: color .15s ease;
            }
        }
    }

    &__descr {
        margin: 10px 0 0 0;

        font-size: 19px;
        line-height: 150%;

        color: $dark;
    }
    
    &__footer {
        padding: 25px 30px 30px 30px;
        position: relative;

        &::after {
            content: '';

            width: 330px;
            height: 1px;

            position: absolute;
            left: 50%;
            top: 0;

            background-color: #EEEEEE;

            transform: translateX(-50%);
        }
    }

    &__price {
        display: block;
        
        @include black;
        font-size: 36px;
        line-height: 130%;

        color: $black;
    }

    &__btn {
        margin: 25px 0 0 0;
    }
}