.header {
    padding: 30px 0 30px 0;
    background-color: $black;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // &__phone {
    //     position: relative;
    //     z-index: 10;

    //     @include black;
    //     font-size: 27px;
    //     line-height: 130%; 
    //     letter-spacing: -2%;
    //     text-decoration: none;

    //     color: $white;

    //     &:after {
    //         content: '';

    //         width: 0;
    //         height: 8px;
    
    //         position: absolute;
    //         left: 0;
    //         bottom: 4px;
    //         z-index: -1;

    //         background-color: $yellow;
    //         transition: width 0.2s linear;
    //     }

    //     &:hover {
    //         &:after {
    //             width: 100%;
    //         }
    //     }
    // }

    // &__btn {
    //     margin: 3px 0 0 0;
    // }
}