.logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &__icon {
        width: 140px;
        height: 60px;
        
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;

        margin: 0 0 0 30px;
    }

    &__title {
        display: inline-block;
        margin: 0;

        @include black;
        font-size: 27px;
        line-height: 130%;

        color: $yellow;
    }

    &__subtitle {
        display: inline-block;
        margin: 0;

        @include medium;
        font-size: 17px;
        line-height: 130%;

        color: $white;
    }
}