// @media (max-width: 539px) and (min-width: 320px)

@media (max-width: 539px) and (min-width: 320px) {

    .section {
        padding: 50px 0 60px 0;
    }

    .title {
        font-size: 36px;

        &::after {
            display: none;
        }

        &--narrow {
            font-size: 36px;
    
            &::before {
                display: none;
            }

            &::after {
                display: none;
            }
        }
    }

    .subtitle {
        margin: 10px 0 0 0;
        font-size: 19px;
    }

    .btn {
        font-size: 18px;

        &--intro {
            min-height: 60px;
            width: 100%;;
        }

        &--card {
            min-height: 60px;
        }

        &--submit {
            min-height: 70px;
            font-size: 19px;
        }
    }
    
    .header {
        padding: 15px 0 15px 0;

        &__inner {
            flex-wrap: wrap;
        }
        
        &__logo {
            padding: 5px 0 5px 0;
        }

        &__contacts {
            padding: 5px 0 5px 0;
        }

        &__phone {
            font-size: 26px;

            &::after {
                display: block;
                width: 100%;
                height: 6px;
                bottom: 6px;
            }
        }
    }

    .logo {

        &__title {
            font-size: 18px;
        }

        &__subtitle {
            display: block;
        }
    }

    .intro {
        padding: 50px 0 60px 0;

        &__title {
            font-size: 40px;
        }

        &__subtitle {
            font-size: 20px;
        }

        &__img {
            display: none;
        }
    }

    .advantages {
        flex-direction: column
        ;
        &__item {
            flex: 1 1 auto;


            &:nth-child(n+2) {
                margin: 30px 0 0 0;
            }
        }

        &__number {
            font-size: 65px;
        }

        &__descr {
            font-size: 20px;
        }

        &__title {
            margin: -10 0 0 0;
            font-size: 20px;
        }
    }

    .services {
        &__column {
            padding: 0 5px 0 5px;
            flex: 1 1 auto;
            
            &:nth-child(n+2) {
                margin: 15px 0 0 0;
            }
        }
    }

    .card {
        max-width: 100%;

        &__body {
            padding: 20px 20px 15px 20px;
        }

        &__title {
            font-size: 26px;
            min-height: auto;
        }

        &__descr {
            margin: 10px 0 0 0;
        }

        &__price {
            font-size: 26px;
        }
    }

    .slider-small {
        
        &__item {
            flex: 0 1 120px;
            padding: 0 3px 0 3px;
        }

        .slick {

            &-current {
                img {
                    border: 2px solid $yellow;
                }
            }
        }
    }

    .questions {

        &__info {
            max-width: auto;
        }

        &__item {
            flex-direction: column;

            &:nth-child(n+2) {
                margin: 20px 0 0 0;
            }
        }

        &__icon {
            width: 75px;
            height: 75px;
        }
        
        &__text {
            margin: 10px 0 0 0;
            font-size: 26px;
        }

        &__example {
            margin: 5px 0 0 0;
            font-size: 17px;
        }
    }

    .order {

        &__phone {
            font-size: 26px;
        }
    }
}